//
// Hyperlinks
// 1. Remove gaps in links underline in iOS 8+ and Safari 8+.
// 2. Remove the gray background on active links in IE 10.
// 3. Remove the outline on focused links when they are also active or hovered
//    in all browsers.
// ---------------------------------------------------------------------------------

a {
  text-decoration-skip: objects; // 1
  background-color: transparent; // 2

  &:active,
  &:hover {
    outline-width: 0; // 3
  }
}
