//
// Header
// -----------------------------------------------------------------------------

.header {
  @include grid($padding: false);
  @extend .grid-item;

  // Avatar
  &:before {
    @extend .grid-item;
    @extend .md-2;
    background-image: url("/images/png/avatar.png");
    background-position: top right;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: rem(80);
  }

  .h1 {
    @extend .grid-item;
    @extend .md-9;
    border-bottom: rem(1) solid setColor(neutral, gray-85);
    margin-bottom: 0;
  }
}
