//
// Header
// -----------------------------------------------------------------------------

.header {
  @include grid($padding: false);
  @extend .grid-item;
  text-align: center;

  @include respond-above(md) {
    text-align: left;
  }

  // Avatar
  &:before {
    @extend .grid-item;
    @extend .md-2;
    background-image: url("/images/png/avatar.png");
    background-position: top right;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: rem(80);

    @include respond-below(md) {
      background-position: top center;
      margin-bottom: rem(8);
    }

    @media print {
      display: none;
    }
  }

  &-inner {
    @extend .grid-item;
    @extend .md-9;
    align-items: center;
    border-bottom: rem(1) solid setColor(neutral, gray-85);
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;

    @media print {
      width: 100%;
    }
  }
}
