//
// Skill
// -----------------------------------------------------------------------------

.skill {
	margin: rem(8);
	
	a {
		background-color: setColor(primary, cyan);
		color: setColor(neutral, white);
		display: inline-block;
		font-size: rem(20);
		min-width: rem(80);
		padding: rem(12);
		text-align: center;
		text-decoration: none;
	}
  
	&:visited {
		background-color: darken(setColor(primary, blue), 10%);
	}
}