<div class="introduction">
  <p>Hi. I’m Rich, a freelance web developer with over sixteen years of experience. My primary focus is on front end web development and responsive web design, generally of content based web sites, and on projects ranging in size from a single page to serving content created by thousands of users.</p>
</div>
