<div class="introduction">
  <p>Hi. I’m Rich. I’m an experienced web developer with a proven career history working directly for large organisations such as the BBC, Starling Bank and Time Inc., and on projects both large and small for numerous digital agencies.</p> 
  
  <p>I possess a wide understanding of web development in numerous technologies, environments, frameworks and content management systems.</p>
  
  <p>My current focus is on the intersection between Wordpress and React, both within the Gutenberg block-based editor and developing Wordpress Multisite as a back-end for React and Gatsby.</p>
    
  <p>Prior to working as a developer I was an SEO consultant and have carried that experience onwards through my career.</p> 
</div>
