<section class="section section-about">
  <header class="section-header">
    <h2>And finally&hellip;</h2>
  </header>
  <div class="section-content">
    <p>I’m a big music fan and love going to see bands play live whether at local gigs or festivals.</p>
    <p>More actively, I enjoy running, swimming and hiking the coast and countryside around Brighton, and recently learnt to SCUBA dive.</p>
    <p>I’ve never seen a UFO but I have (possibly) seen a ghost.</p>
  </div>
</section>
