<section class="section section-career">
  <header class="section-header">
    <h2>Recent work</h2>
    <p>Here’s what I’ve been doing over the last three years or so. My full career history is available on <a rel="external" href="https://www.linkedin.com/in/richard-cookson-219377b8">LinkedIn</a>.</p>
  </header>

  <div class="section-content">

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Lead developer creating a large web portal for Tilt</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.wearetilt.com">www.wearetilt.com</a>
          <span class="duration">
            <time datetime="03-2018">April 2018</time> to <time datetime="03-2019">March 2019</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Lead developer in a team creating an onboarding portal and associated sites for a large multinational professional services client.</p>
        <ul class="list">
          <li>Created initial tooling stack based on Node and Gulp</li>
          <li>Assisted with management of development team and code review processes</li>
          <li>Worked closely with CMS developers to integrate produced templates</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Vue.js web application development for Lumesse</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.lumesselearning.com">www.lumesselearning.com</a>
          <span class="duration">
            <time datetime="03-2018">March 2018</time> to <time datetime="04-2018">April 2018</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Responsible for development of a Vue.js based learning application based on Lumesse internal framework.</p>
        <ul class="list">
          <li>Developed a <a rel="external" href="https://vuejs.org">Vue.js</a> web app based on designs, coding custom components and integrating existing ones.</li>
          <li>Fixed bugs and made content adjustments to several other applications.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">MERN and Wordpress application development for Brilliant Noise</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.brilliantnoise.com">www.brilliantnoise.com</a>
          <span class="duration">
            <time datetime="09-2017">September 2017</time> to <time datetime="03-2018">March 2018</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Working as a senior software developer, I was responsible for developing and expanding several internal software projects, as well as aiding with client work.</p>
        <ul class="list">
          <li>Led a project to create a content organisation application using <a rel="external" href="https://reactjs.org">React</a>, <a rel="external" href="https://nodejs.org">Node</a>, <a rel="external" href="https://expressjs.com">Express</a> and <a rel="external" href="https://www.mongodb.com">MongoDB</a>.</li>
          <li>Customised and extended the REST API of a headless Wordpress multisite installation, providing content to custom front end interfaces built with Express and Handlebars.</li>
          <li>Expanded and improved the same Wordpress sites content editing functions using <a rel="external" href="https://www.advancedcustomfields.com">ACF Pro</a>.</li>
          <li>Reverse engineered existing web applications, fixing bugs and creating technical documentation for them.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Site improvements and maintenance for Starling Bank</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.starlingbank.com">www.starlingbank.com</a>
          <span class="duration">
            <time datetime="06-2017">June 2017</time> to <time datetime="09-2017">September 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Took over responsibility for the marketing and community sites for Starling Bank while a new permanent developer was hired.</p>
        <ul class="list">
          <li>Worked with the marketing team on <a rel="external" href="https://www.advancedcustomfields.com">Advanced Custom Fields</a> customisations and updates to the Wordpress based Starling Bank site.</li>
          <li>Advised and aided on performance and SEO optimisation improvement work.</li>
          <li>Implemented changes and fixes to the Discourse community site</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Rebrand implementation and site maintenance for Pegasus</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.thisispegasus.co.uk">www.thisispegasus.co.uk</a>
          <span class="duration">
            <time datetime="05-2017">May 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>A short contract to help cover the maintenance of existing client sites and aid with the implementation of the companies rebranding.</p>
        <ul class="list">
          <li>Worked on updates to multiple Wordpress sites using plugins such as <a rel="external" href="https://www.upstatement.com/timber">Timber</a>, <a rel="external" href="https://www.advancedcustomfields.com">Advanced Custom Fields</a> and alternative code structures such as <a rel="external" href="https://roots.io/bedrock">Bedrock</a>.</li>
          <li>Partnered with a designer to implement the company rebrand on the intranet, and their blog <a rel="external" href="http://www.pegasuspulse.com">Pegasus Pulse</a> - improved the layout and responsive code.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Wordpress customisation and theming for Tilt</h3>
        <div class="article-metadata">
          <a rel="external" href="https://wearetilt.com/">www.wearetilt.com</a>
          <span class="duration">
            <time datetime="04-2017">April 2017</time> to <time datetime="05-2017">May 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Brought in to cover holiday leave, I worked on Wordpress site builds for two client projects both of which are now live.</p>
        <ul class="list">
          <li>Utilised the <a rel="external" href="https://www.advancedcustomfields.com">Advanced Custom Fields</a> plugin amongst others, to create rich, reusable content modules in Wordpress.</li>
          <li>Created front end templates using PHP and the Wordpress template hierarchy.</li>
          <li>Implemented responsive layouts from designs provided in Adobe XD.</li>
          <li>Worked closely with other developers on these projects to ensure work was carried out efficiently and to deadline.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Brand style-guide app update for Futurebrand</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.futurebrand.com">www.futurebrand.com</a>
          <span class="duration">
            <time datetime="03-2017">March 2017</time> to <time datetime="04-2017">April 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Working on Futurebrand’s style-guide application, based on Craft CMS.</p>
        <ul class="list">
          <li>Created responisve layouts for new sections of the application from Sketch designs in Zeplin.</li>
          <li>Templatised responisve layouts in Twig.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">University of Sussex redesign</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.sussex.ac.uk">www.sussex.ac.uk</a>
          <span class="duration">
            <time datetime="12-2016">December 2016</time> to <time datetime="02-2017">February 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Continuing the rolling redesign of the University’s site, this time focusing on the complex course information pages.</p>
        <ul class="list">
          <li>Produced the intial course template from Sketch designs utilising Foundation 6 components and custom code where necessary, and refined them based on UX testing.</li>
          <li>Carried out site performance optimisation, removing and refactoring legacy code as necessary.</li>
          <li>Upgraded the site core to the latest version of Foundation 6 to take advantage of new responsive components.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Brand style-guide app update for Futurebrand</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.futurebrand.com">www.futurebrand.com</a>
          <span class="duration">
            <time datetime="12-2016">December 2016</time> to <time datetime="01-2017">January 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Working on Futurebrand’s style-guide application, based on Craft CMS.</p>
        <ul class="list">
          <li>Updated Grunt to separate existing jQuery based JavaScript code from new React based components.</li>
          <li>Re-organised SASS code to make implementation of new brand styles an easier process.</li>
          <li>Implemented new brands and reworked some Twig templates to allow custom features.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Team lead on large content site redesign for Futurebrand</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.futurebrand.com">www.futurebrand.com</a>
          <span class="duration">
            <time datetime="09-2016">September</time> to <time datetime="12-2017">December 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Replaced the lead front end developer midway through the project, I completed the construction of components based on Bootstrap 3 and accompanying style-guide.</p>
        <ul class="list">
          <li>Led a small team of two other front end developers in continuing the build.</li>
          <li>Worked with the project manager to organise tasks and attended daily Scrum remotely, utilising tools such as Slack to keep in touch with all participants in the project.</li>
          <li>Re-organised deployment of components and style-guide using Springloops and management of the project Git repository.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">University of Sussex redesign</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.sussex.ac.uk">www.sussex.ac.uk</a>
          <span class="duration">
            <time datetime="07-2016">July</time> to <time datetime="08-2017">August 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Principal front end developer working on templates for a rolling redesign of the University site focused on improving recruitment of new students.</p>
        <ul class="list">
          <li>Upgraded core code to Foundation 6 and reorganised code to create new components based on the atomic design methodology.</li>
          <li>Reworked legacy JavaScript to be more modular and utilise Foundation components more readily.</li>
          <li>Implemented new designs based on a responsive, mobile first perspective.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Animation to show application workflow for Typesetr</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.typesetr.com">www.typesetr.com</a>
          <span class="duration">
            <time datetime="06-2016">June 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Created a complex animation to show the purpose of a publishing application utilising Greensock JavaScript animation library.</p>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Home page redesign and dev-ops consultation for DeWynters</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.dewynters.com">www.dewynters.com</a>
          <span class="duration">
            <time datetime="05-2016">May 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Covering for a lack of development staff internally, I worked on a redesign of the DeWynters home page and advised on new development systems to replace their aging Dreamweaver/Adobe workflow.</p>
        <ul class="list">
          <li>Advised on internal procedures for source code control using Git and build automation using Grunt.</li>
          <li>Produced initial version of new responsive DeWynters home page and handed it over for testing and completion by internal team.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Client pitch microsite for Mediacom</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.mediacom.com">www.mediacom.com</a>
          <span class="duration">
            <time datetime="04-2016">April 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Constructed responsive microsite, working closely with project managers and designer, to introduce Mediacoms client to the marketing team they proposed for a pitch.</p>
        <ul class="list">
          <li>Set up production server from scratch on Linode hosting platform, and sourced domain name for the site.</li>
          <li>Implemented simple PHP access control.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Wallpaper.com navigation redesign for Time</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.wallpaper.com">www.wallpaper.com</a>
          <span class="duration">
            <time datetime="01-2016">January</time> to <time datetime="03-2016">March 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Built several possible versions of a new responsive navigation system for Wallpaper.com for UX testing, with final result being deployed. I also carried out maintenance work on other Time Inc. properties.</p>
        <ul class="list">
          <li>Worked with Vagrant based development environment and built skills in setting up Vagrant VM’s from scratch.</li>
          <li>Utilised Jenkins and Git in a Continuous Integration environment for updating sites with fixes and enhancements.</li>
        </ul>
      </div>
    </article>
  </div>
</section>
