//
// Career Article
// -----------------------------------------------------------------------------

.article {
  @extend .grid-item;
  @extend .xs-10;
  @extend .xs-offset-2;

  margin-bottom: rem(24);

  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  margin-bottom: rem(8);
}

.title {
  @include heading();
  font-size: 2rem;
  margin-bottom: rem(8);
}

.metadata {
  font-size: rem(17);

  @include respond-above(md) {
    @include group-horizontal();
    margin-top: 0;
  }

  a {
    @include hyperlink();
  }
}

.duration {
  color: setColor(neutral, gray-20);
  display: block;
  margin-right: rem(4);
}

.content {
  p {
    color: setColor(neutral, gray-20);
    font-size: rem(17);
    line-height: 1.35;
    margin: 0 0 rem(16);
  }

  ul {
    @include list();
  }
}
