/* ==========================================================================
   Base
   ========================================================================== */

/* Base page colors and font family */

  body {
    background-color:$body-background-color;
    font-family:$main-font;
    color:$main-text-color;
    line-height:1.25;
  }

/* Base links */

  a {
    color:$main-link-color;
    text-decoration:none;
    &:hover,
    &:focus,
    &:active {
      text-decoration:underline;
    }
  }

/* Responsive images - render alt italicised if images don't load */

  img {
    display:block;
    font-style:italic;
    max-width:100%;
  }

/* Non-responsive iamges - assign a height and/or width  */

  img[width],
  img[height] {
    max-width:none;
  }

/* Prevent focus outline on links that cannot be accessed via keyboard */

  [tabindex="-1"]:focus {
    outline:none !important;
  }

/* Remove default styles on lists as most won't require them */

  ol,ul,li {
    list-style:none;
    margin:0;
    padding:0;
  }

/* Typography settings */

  h1 {
    font-size:rem(64);
    font-weight:900;
    letter-spacing:-1px;
    margin:0;
  }

  h2 {
    font-size:rem(24);
    font-weight:900;
    margin:0 0 rem(12);
  }

  h3 {
    font-size:rem(18);
    font-weight:900;
    margin:0;
  }

  p {
    font-size:rem(18);
    margin:0 0 rem(9);
  }