/* ==========================================================================
   Typography
   ========================================================================== */

/* Headings */

  h1 {
    font-size:rem(40);
    font-weight:900;
    letter-spacing:-1px;
    margin:0;

    /* Breakpoints */

      @include media($medium) {
        font-size:rem(48);
      }
      @include media($large) {
        font-size:rem(64);
      }

    /* Print */

      @media print {
        font-size:rem(26);
        margin:0 0 rem(6);
      }

  }
  h2 {
    font-size:rem(20);
    font-weight:900;
    margin:0 0 rem(12);

    /* Breakpoints */

      @include media($medium) {
        font-size:rem(26);
      }
      @include media(large) {
        font-size:rem(32);
      }

    /* Print */

      @media print {
        font-size:rem(16);
        margin:0;
      }

  }
  h3 {
    font-size:rem(16);
    font-weight:700;
    margin:0;

    /* Breakpoints */

      @include media($medium) {
        font-size:rem(18);
      }

    /* Print */

      @media print {
        font-size:rem(12);
      }

  }

/* Address */

  address {

    /* Print */

      @media print {
        font-size:rem(12);
      }

  }

/* Paragraphs */

  p {
    color:#565656;
    font-size:rem(16);
    line-height:1.35;
    margin:0 0 rem(9);

    /* Breakpoints */

      @include media($medium) {
        font-size:rem(18);
      }

    /* Print */

      @media print {
        font-size:rem(12);
        margin:0 0 rem(5);
      }

  }

/* Unordered lists */

  article {
    li {
      color:#565656;
      font-size:rem(16);
      line-height:1.35;
      list-style:square inside;

      /* Breakpoints */

        @include media($medium) {
          font-size:rem(18);
        }

      /* Print */

        @media print {
          font-size:rem(12);
        }
    }
  }

