/* ==========================================================================
   Settings
   ========================================================================== */

/*
   Fonts
   ========================================================================== */

    $main-font:'Lato',sans-serif;

/*
   Colors
   ========================================================================== */

    $body-background-color:#FFF;
    $main-text-color:#434343;
    $main-link-color:#C00;

/*
   Breakpoints
   ========================================================================== */

    $medium:new-breakpoint(min-width 580px);
    $large:new-breakpoint(min-width 870px);





