/* ==========================================================================
   Settings
   ========================================================================== */

/*
   Fonts
   ========================================================================== */

    $main-font:$helvetica;

/*
   Colors
   ========================================================================== */

    $body-background-color:#FFF;
    $main-text-color:#333;

  /* Links */

    $main-link-color:#C00;




