//
// Avatar
// -----------------------------------------------------------------------------

%avatar {
  background-image: url('/assets/img/png/avatar.png');
  background-position: top center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 5rem;
  width: 5rem;

  @include respond-above(medium) {
    background-position: top right;
  }

  @media print {
    display: none;
  }
}
