//
// List: Unordered
// -----------------------------------------------------------------------------

ul {
  &.list {
    margin-bottom: 0.5rem;

    li {
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      position: relative;

      &:before {
        background-color: set-color(neutral, gray-20);
        content: '';
        display: inline-block;
        height: 0.3125rem;
        left: 0;
        position: absolute;
        top: 0.5rem;
        width: 0.3125rem;
      }

      @media print {
        font-size: 0.875rem;
        margin-bottom: 0.125rem;
      }
    }
  }
}
