//
// Nav
// ---------------------------------------------------------------------------------

.nav {
  .nav-list {
    @include respond-above(medium) {
      @include group-horizontal();
    }

    @media print {
      @include group-horizontal();
    }
  }

  li {
    margin-bottom: 0.5rem;

    @include respond-above(medium) {
      margin-bottom: 0;
    }
  }

  a {
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: relative;
    vertical-align: middle;

    // &:before {
    //   margin-right: 0.5rem;
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    // }
  }

  //
  //   // Position and size icons in this context
  //
  //     //@include position(absolute, 50% null null 0);
  //     //@include size(em(24));
  //     background-position: left center;
  //     transform: translateY(-50%);
  //   }
  //
  //   // @media print {
  //   //   margin-left: su(1);
  //   //   margin-right: 0;
  //   //   padding: su(1) 0 su(1) su(3);
  //   // }
  // }
}
