//
// Tag
// -----------------------------------------------------------------------------

.skill-level {
  &-advanced {
    .link {
      &:active, &:focus, &:hover, &:link, &:visited {
        background-color: set-color(skill, advanced);
      }

      // &:visited {
      //   background-color: darken(set-color(skill, advanced), 10%);
      // }
    }

    .key-example {
      background-color: set-color(skill, advanced);
    }
  }

  &-basic {
    .link {
      &:active, &:focus, &:hover, &:link, &:visited {
        background-color: set-color(skill, basic);
      }

      // &:visited {
      //   background-color: darken(set-color(skill, basic), 10%);
      // }
    }

    .key-example {
      background-color: set-color(skill, basic); 
    }
  }
}
