//
// Floating Action Button
//
// 1. Make Mixin to allow easier setting of layer heights for materials
// 2. Required to layer over the hidden text on parent
// ---------------------------------------------------------------------------------

.top {
  background-color: red;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;

  &-link {
    @include animation-warp(0, 0.25s, $direction: out);
    background-color: set-color(brand, accent);
    border-radius: 3.5rem;
    box-shadow: 0 0.4375rem 0.3125rem -0.25rem rgba(0, 0, 0, 0.15); // [ToDo]
    display: none; // [ToDo] JS class
    height: 3.5rem;
    left: 1.5rem;
    position: fixed;
    right: 1.5rem;
    width: 3.5rem;

    &:before {
      @include animation-spin(0, 0.25s, $direction: counter-clockwise);
      bottom: 0; // [ToDo] - Flexbox?
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.display {
      @include animation-warp(0, 0.25s, $direction: in);

      &:after {
        @include animation-spin(0, 0.25s, $direction: clockwise);
      }
    }
  }
}
