//
// Hyperlinks
// ---------------------------------------------------------------------------------

a {
  color: setColor(brand, color_primary);
  text-decoration: none;

  &:active, &:focus, &:hover {
    color: setColor(brand, color_accent);
    outline: none; // [TODO] - Make better outline that looks good in all contexts
  }
}
