//
// List: Unordered
// ---------------------------------------------------------------------------------

ul {
  &.list {
    li {
      padding-left: rem(16);
      position: relative;

      &:before {
        @include position(absolute, 0 null null 0);
        color: setColor(neutral, color_gray_20);
        content: '\25AA';
        display: inline-block;
      }
    }
  }
}
