//
// Tag
// ---------------------------------------------------------------------------------

.tag {
  @include margin(null su(0.5) su(1) null);

  a {
    background-color: setColor(brand, color_primary);
    color: setColor(neutral, color_white);
    display: block;
    min-width: em(80);
    padding: em(8);
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      &:active,
      &:focus,
      &:hover {
        background-color: setColor(brand, color_accent);
      }
    }
  }
}
