//
// SVGs
// - Includes PNG path for fallback for older browsers
// - Use https://jakearchibald.github.io/svgomg/ to compress
//   the SVGs.
// ------------------------------------------------------------------

$svgs: (
  arrow: (
    svg: url("data:image/svg+xml,%3Csvg fill='%23FFF' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"),
    fallback: url('/assets/img/icon-arrow_2x.png')
  ),
  email: (
    svg: url("data:image/svg+xml,%3Csvg fill='%23FFF' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z'/%3E%3C/svg%3E"),
    fallback: url('/assets/img/icon-email_2x.png')
  ),
  github: (
    svg: url("data:image/svg+xml,%3Csvg fill='%23FFF' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.084-.202-.36-1.015.076-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.363.092 2.002.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.245.543.734.543 1.48 0 1.07-.01 1.932-.01 2.194 0 .215.144.463.55.385C13.71 14.53 16 11.533 16 8c0-4.418-3.582-8-8-8' fill='#FFF' fill-rule='evenodd'/%3E%3C/svg%3E"),
    fallback: url('/assets/img/icon-github_2x.png')
  ),
  telephone: (
    svg: url("data:image/svg+xml,%3Csvg fill='%23FFF' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"),
    fallback: url('/assets/img/icon-telephone_2x.png')
  )
);
