//
// All: Global template
// ---------------------------------------------------------------------------------

.page {
  @include outer-container(rem(960));
  margin-top: rem(64);
  position: relative;
}

.header {
  @include row();

  &:before {
    @extend .avatar;
    @include span-columns(2);
  }

  h1 {
    @include span-columns(10);
  }
}

.introduction {
  @include row();

  p { // This needs structural adjustment to allow for multiple HTML tags, not just one <p>
    @include shift(2);
    @include span-columns(10);
  }
}

.nav-contact {
  @include shift(2);
  @include span-columns(10);
  margin-bottom: rem(32);
}

.main {
  @include shift(2);
  @include span-columns(10);
}

.section {
  margin-bottom: rem(32);
}
