//
// All: Global template
// ---------------------------------------------------------------------------------

$bp-section-reorder: new-breakpoint(max-width em(426));

.page {
  @include outer-container(rem(960));
  margin-top: su(4);
  padding-left: su(2);
  padding-right: su(2);

  @include media($bp-medium) {
    margin-top: su(8);
    padding-left: su(4);
    padding-right: su(4);
  }

  @media print {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}

.header {
  @include row();

  &:before {
    @extend .avatar;
    @include span-columns(12);

    @include media($bp-medium) {
      @include span-columns(2);
    }
  }

  h1 {
    @include span-columns(12);

    @include media($bp-medium) {
      @include span-columns(10);
    }
  }
}

.introduction {
  @include row();

  p { // This needs structural adjustment to allow for multiple HTML tags, not just one <p>
    @include span-columns(12);

    @include media($bp-medium) {
      @include shift(2);
      @include span-columns(10);
    }
  }
}

.nav-contact {
  @include span-columns(12);
  margin-bottom: rem(24);

  @include media($bp-medium) {
    @include shift(2);
    @include span-columns(10);
    margin-bottom: su(4);
  }

  @media print {
    @include position(absolute, rem(14) 0 null null);
    @include span-columns(9);
    @include omega();
    text-align: right;
  }
}

.main {
  @include display(flex);
  @include flex-direction(column);
  width: 100%;
  @include media($bp-medium) {

  }
}

.section {
  @include span-columns(12);
  margin-bottom: su(3);

  @include media($bp-medium) {
    @include shift(2);
    @include span-columns(10);
    margin-bottom: su(4);
  }
}

.section-skills {
  @include flex(1);
  order: 2;

  @include media($bp-medium) {
    @include flex(1);
    order: 1;
  }

  @media print {
    order: 1;
  }
}

.section-career {
  @include flex(1);
  order: 1;

  @include media($bp-medium) {
    @include flex(1);
    order: 2;
  }

  @media print {
    order: 2;
  }
}

.section-projects {
  @include flex(1);
  order: 3;
}

.section-learning {
  @include flex(1);
  order: 4;
}

.section-about {
  @include flex(1);
  order: 5;
}

.floating-action-button {
  @include position(fixed, null su(2) su(2) null);

  @include media($bp-large) {
    @include position(fixed, null su(3) su(3) null);
  }
}
