//
// Grid Variables
// -----------------------------------------------------------------------------

$grid-h-gutter: rem(8);
$grid-v-gutter: rem(8);
$grid-h-padding: rem(32);
$grid-v-padding: rem(32);
$grid-max-width: rem(1156);
