//
// Breakpoints
// -----------------------------------------------------------------------------

$breakpoints: (
  xs: 0,
  sm: 36rem, // 576px
  md: 48rem, // 768px
  lg: 62rem, // 992px
  xl: 75rem // 1200px
);
