//
// Colors
// -----------------------------------------------------------------------------

$palettes: (
  neutral: (
    white: rgb(255, 255, 255),
    gray-90: rgb(229, 229, 229),
    gray-85: rgb(217, 217, 217),
    gray-80: rgb(204, 204, 204),
    gray-60: rgb(154, 154, 154),
    gray-50: rgb(128, 128, 128),
    gray-40: rgb(103, 103, 103),
    gray-20: rgb(52, 52, 52),
    black: rgb(0, 0, 0)
  ),
  brand: (
    primary: rgb(33, 150, 243),
    primary-dark: rgb(25, 118, 210),
    primary-light: rgb(187, 222, 251),
    accent: rgb(255, 87, 34)
  ),
  skill: (
    advanced: rgb(33, 150, 243),
    basic: rgb(33, 201, 243)
  )
);
