//
// Body
// -----------------------------------------------------------------------------

body {
  color: set-color(neutral, gray-20);
  font-family: $body-font;
  font-size: 1.0625rem;
  line-height: 1.35;
  margin: 0;

  @media print {
    font-size: 0.875rem;
  }
}
