//
// Headings
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
  margin: 0;
  line-height: 1.2;
}

h1 {
  color: set-color(neutral, gray-20);
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.0625rem;
  text-align: center;

  @include respond-above(medium) {
    font-size: 4rem;
    text-align: left;
  }

  @media print  {
    font-size: 2rem;
    letter-spacing: 0;
  }
}

h2 {
  color: set-color(neutral, gray-20);
  font-size: 2rem;
  font-weight: 900;

  @media print  {
    font-size: 1.5rem;
  }
}

h3 {
  color: set-color(neutral, gray-20);
  font-size: 1.5rem;
  font-weight: 900;

  @media print  {
    font-size: 1.125rem;
  }
}
