//
// Hyperlinks
// -----------------------------------------------------------------------------

a {
  text-decoration: none;

  &:link, &:visited {
    color: set-color(brand, primary);
  }

  &:active, &:focus, &:hover {
    color: set-color(brand, accent);
    outline: none; // [TODO] - Make better outline that looks good in all contexts
  }

  // &:visited {
  //   color: darken(set-color(skill, basic), 30%)
  // }
}
