section(class='section', id='about')

  h2 And finally

  p Iʼm a big music fan and love going to see bands play live whether at local gigs or festivals. I’ve also been playing video games since the days of the first home computers and retain an interest in how they drive technology forwards.

  p More actively, I enjoy hiking the coast and countryside around Brighton.
  
  p I've never seen a UFO but I have (possibly) seen a ghost.