section(class='section', id='about')

  h2 And finally

  p In another life I would probably have been a marine biologist, video game creator or a comic book artist. 

  p Iʼm a big music fan and love going to see bands play live whether at local gigs or festivals. 

  p More actively, I enjoy swimming, hiking and cycling around the South Downs.

  p I have seen a ghost, but never a UFO.
