header(class='hcard', id='banner', role='banner')

  h1(class='p-name') Richard Cookson
  h2(class='p-job-title') Front end web developer and interaction designer

  address(class='address')
    ul
      li
        b Github:
        a(href='https://github.com/Frobitz') www.github.com/Frobitz
      li
        b(class='p-tel') Phone:
        a(href='tel:+447792871698') +44 7792&nbsp;871698
      li
        b(class='u-email') Email:
        a(href='mailto:rich.cookson@gmail.com') rich.cookson@gmail.com
      li
        b Location:
        a(href='https://goo.gl/maps/jtqom')
          span(class='p-locality') Brighton, 
          span(class='p-country-name') UK

  div(class='intro')
    p I've worked in the industry for over fifteen years, producing well organised web sites to the highest standards across a wide range of projects and for numerous high profile organisations. My current focus is on responsive web development and learning Angular.js.


