header(class='hcard', id='banner', role='banner')

  h1(class='p-name') Richard Cookson
  h2(class='p-job-title') Front end web developer and interaction designer

  address(class='address')
    ul
      li
        b Github:
        a(href='https://github.com/Frobitz') www.github.com/Frobitz
      li
        b(class='p-tel') Phone:
        a(href='tel:+447792871698') +44 7792&nbsp;871698
      li
        b(class='u-email') Email:
        a(href='mailto:rich.cookson@gmail.com') rich.cookson@gmail.com
      //- li
      //-   b Location:
      //-   a(href='https://goo.gl/maps/jtqom')
      //-     span(class='p-locality') Brighton, 
      //-     span(class='p-country-name') UK

  div(class='intro')
    
    p Hi. I'm Rich, a web developer based in <span class="p-locality">Brighton</span> in the <span class="p-country-name">UK</span>.

    p I've been working in the industry for well over a decade now, initially as s staff member with agencies such as Bernard Hodes and Wilson Fletcher, and then as a freelance for a wide range of organiations.

    p Throughtout my career I've found my role has often expanded beyond the confines of development and into aiding with planning, design and testing, and I enjoy the ability to help where I can with all aspects of a project. 

    p While I'm available to work on location in London, my preference is for remote or partly remote work and I have spent the last two years on successful projects with London based agencies in this capability.

