section(class='section', id='career-highlights')

  h2 Career Highlights

  p As a freelancer I've worked for dozens of companies and agencies throughout London so my full career history is pretty long. To keep things brief, here are some of the more notable projects I've worked on during my career.

  div

    article(class='highlight')

      h3 HSBC HTML5 Skunkworks Project
      p I was hired by Sapient to lead a team of developers producing HTML5 templates for a rebrand of the HSBC.ae website which was carried out by internal CMS developers. This was a challenging role as not only were the deadlines tight, but I had to investigate and determine the best way to handle their requirement for the site to use HTML5.

    article(class='highlight')

      h3 BBC Trust and BBC UK China
      p I’ve worked on two projects for the BBC, the first was as lead developer at Wilson Fletcher to build the first version of the BBC Trust site. Later in my career I was hired by the World Service to act as the front end developer working on the redesign of the BBC UK China website, as well as elements of several other international sites including the launch of BBC Persia.

    article(class='highlight')

      h3 Which? Redesign
      p Acted as the lead developer in a team of six at Wilson Fletcher, co-ordinating and producing templates for the new Which website on a year long project to rebrand and integrate their existing sites under one domain.
