section(class='section', id='career-highlights')

  h2 Career Highlights

  p Notable projects I've worked on in the past. I've provided links where the sites still retain the design or code I worked on.

  div

    article(class='highlight')

      h3 HSBC HTML5 Skunkworks Project
      p I was hired by Sapient to lead a team of developers producing HTML5 templates for a rebrand of the HSBC.ae website which was carried out by internal CMS developers. This was a challenging role as not only were the deadlines tight, but I had to investigate and determine the best way to handle their requirement for the site to use HTML5.

    article(class='highlight')

      h3 BBC Trust and BBC UK China
      p I’ve worked on two projects for the BBC, the first was as lead developer at Wilson Fletcher to build the first version of the BBC Trust site. Later in my career I was hired directly as a contractor to act as the developer in charge of creating the new BBC UK China website.

    article(class='highlight')

      h3 Which? Redesign
      p Acted as the lead developer in a team of six at Wilson Fletcher, co-ordinating and producing templates for the new Which website on a year long project to rebrand and integrate their existing sites under one domain.
