
section(class='section', id='career-history')

  h2 Career history

  article(class='project')
    h3 University of Sussex redesign
    p An ongoing rolling redesign of a very large content based website to improve the Universities recruitment of new students.
    ul
      li Upgraded code to use latest version of Foundation 6 and removed old custom code in preference for using Foundation components.
      li Reworked JavaScript to be more modular and fit with Foundation more readily.
      li Implemented new designs for key pages and improved performance in terms of page load speed and responsive design.
      li Liased with stakeholders and UX lead at all stages of the project.

  article(class='project')
    h3 Futurebrand
    p Replaced lead front end developer midway through a redesign of a healthcare providers web site.
    ul
      li Led a small team of two other front end developers in continuing the build of a large number of templates based on Bootstrap.
      li Worked with the project manager to organise tasks and attended daily Scrum
      li Worked mostly remotely utilising tools such as Slack to keep in touch with all participants in the project.

  article(class='project')
    h3 Futurebrand
    p Replaced lead front end developer midway through a redesign of a healthcare providers web site.
    ul
      li Led a small team of two other front end developers in continuing the build of a large number of templates based on Bootstrap.
      li Worked with the project manager to organise tasks and attended daily Scrum
      li Worked mostly remotely utilising tools such as Slack to keep in touch with all participants in the project.
