section(class='section', id='latest-projects')

  h2 Latest Projects

  p These are the most recent pieces of work I can show. I'm still working on them to some extent, whether that involves bug fixes, optimisation work or design refinements.

  div

    article(class='project')

      h3
        a(href='http://www.lshift.net') www.lshift.net
      p A full stack web development project to redesign and restructure the existing LShift company web site using Wordpress.
      ul
        li CSS generated with SASS, using the Bourbon mixin library and Neat grid system.
        li Responsive design.
        li Utilised Grunt for task management.
        li Integrated HTML and CSS code into a working Wordpress theme.
        li Set up a complex Wordpress installation to match the requirements of the site structure.
        li Imported and refactored content from the previous verson of the web site.
        li Continuing support and development ongoing.

    article(class='project')

      h3
        a(href='http://www.weare5k.com') www.weare5k.com
      p A one page web site to introduce potential customers to 5K, replacing a simple placeholder site. It has since been expanded on to add a blog and Wordpress content control so there's some optimisation and integration problems to be ironed out.
      ul
        li CSS generated with SASS, using the Bourbon mixin library and Neat grid system.
        li Responsive design.
        li Refined front end code to work responsively in variety of viewport and device sizes as required by the designs.
        li Continuing support and optimisation ongoing following work done to integrate into Wordpress by third party.

    article(class='project')

      h3
        a(href='https://github.com/Frobitz/go') www.github.com/Frobitz/go
      p A personal project to create a quickstart framework for getting web site and prototype template builds underway quickly.
      ul
        li Uses Grunt to compile Jade and SASS into HTML and CSS.
        li Provides a local server for projects with live reload functionality.
        li Optimises image files automatically.
        li Integrates Bourbon mixin library to extend SASS.
        li Integrates Neat grid system for quick, responsive layout creation.
        li Currently under development.