section(class='section', id='latest-projects')

  h2 Latest Projects

  p These are the most recent pieces of work I can show. I'm still working on them to some extent, whether that involves bug fixes, optimisation work or design refinements.

  div

    article(class='project')

      h3
        a(href='http://www.lshift.net') www.lshift.net
      p A full stack web development project to redesign and restructure the existing LShift company web site using Wordpress.
      ul
        li CSS generated with SASS, using the Bourbon mixin library and Neat grid system.
        li Responsive design.
        li Utilised Grunt for task management.
        li Integrated HTML and CSS code into a working Wordpress theme.
        li Set up a complex Wordpress installation to match the requirements of the site structure.
        li Imported and refactored content from the previous version of the web site.

    article(class='project')

      h3
        a(href='http://www.weare5k.com') www.weare5k.com
      p A one page web site to introduce potential customers to 5K, replacing a simple placeholder site. It has since been expanded on to add a blog and Wordpress content control so there's some optimisation and integration problems to be ironed out.
      ul
        li CSS generated with SASS, using the Bourbon mixin library and Neat grid system.
        li Refined front end code to work responsively in variety of viewport and device sizes as required by the designs.

    article(class='project')

      h3
        a(href='https://github.com/hellorich/go') www.github.com/hellorich/go
      p A personal project to create a quickstart framework for getting web site and prototype template builds underway quickly.
      ul
        li Uses Grunt to compile Mustache templates and SASS into HTML and CSS.
        li Provides a local server for projects with live reload functionality.
        li Optimises image files automatically.
        li Integrates Bourbon mixin library to extend SASS, and Neat grid system for quick, responsive layout creation