<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/global/head }}

<body>

  <div class="page">

    {{> partials/content/header }}

    {{> partials/content/introduction }}

    {{> partials/content/nav-contact }}

    <main class="main" role="main">

      {{> partials/content/section-career }}

      {{> partials/content/section-skills }}

      {{! partials/content/section-projects }}

      {{! partials/content/section-learning }}

      {{> partials/content/section-about }}

    </main>

  </div>

{{> partials/global/foot }}
