<nav class="nav">
  <ul class="nav-list">
    <li><a class="icon icon-email" href="mailto:rich.cookson@frobitz.com">rich.cookson@frobitz.com</a></li>
    <li><a class="icon icon-telephone" href="tel:447792871698">+44 7792 871 698</a></li>
    <li><a class="icon icon-github" rel="external" href="https://github.com/hellorich">github.com/hellorich</a></li>
  </ul>
</nav>
