/* ==========================================================================
   Page
   ========================================================================== */

  #page {
    @include outer-container();
  }

  #career-highlights {
    h2 {
      page-break-before: always;
    }
  }

  /* Print */

    @media print {
      #page {
        margin: 5mm 0;
        size: auto;
      }
    }
