//- index.jade

doctype html
html(lang='en')

  include ./includes/head.jade

  body

    div(id='page')

      include ./includes/header.jade

      main(role='main')

        include ./includes/skills.jade
        
        include ./includes/highlights.jade

        include ./includes/projects.jade

        include ./includes/about.jade

    include ./includes/tracking-google.jade