//- index.jade

doctype html
html(lang='en')

  include ./includes/head.jade

  body

  div(id='page')

    header(id='banner', role='banner')

      h1 Richard Cookson
      h2 Front end web developer and interaction designer
      p I've worked in the industry for over fifteen years, producing well organised web sites to the highest standards across a wide range of projects and for numerous high profile organisations. My current focus is on responsive web development and learning Angular.js.

    main(role='main')

      section(class='section', id='skills')

        h2 My Skills

        div

          article(class='skill')

            h3 HTML
            p Produce semantic, minimalist and W3C standards compliant HTML5 markup with knowledge and experience of working to accessibility coding standards.
            p Experience using HAML and Jade templating engine.

          article(class='skill')

            h3 CSS
            p Coded plain CSS for years with an indepth knowledge of working around the rendering quirks of various browsers.
            p Currently work with the SASS pre-processor, using Bourbon and Neat mixin libraries.
            p Use the SMACSS methodology of organising CSS code.

          article(class='skill')

            h3 JavaScript
            p Competent JavaScript coder utilising the jQuery library for various user interface enhancements and functionality.
            p Currently working on an Angular.js project to improve OOP JavaScript skills.

      section(class='section', id='work')

        h2 Latest Work

        div

          article(class='work')

            h3 LShift
            p Coded both the front end templates and set up, customised and themed a Wordpress backend for Lshifts new company web site.

          article(class='work')

            h3 5K
            p Coded both the initial front end code for 5K's new company web site.



