//- index.jade

doctype html
html(lang='en')

  include ./includes/head.jade

  body

  header(role='banner')

    h1 Richard Cookson

    ul
      li
        a(href='mailto:rich@frobitz.com') rich@frobitz.com
      li
        a(href='tel:+447792871698') 07792 871698
      li
        a(href='https://goo.gl/maps/lwIkM') Brighton, UK

  main(role='main')

    p A front end web developer and interaction designer with fifteen years experience in the industry. My current focus is on the craft of responsive web development.