//- index.jade

doctype html
html(lang='en')

  include ./includes/head.jade

  body

    div(id='page')

      include ./includes/header.jade

      main(role='main')

        include ./includes/history.jade

        include ./includes/highlights.jade

        include ./includes/skills.jade

        include ./includes/about.jade

    include ./includes/tracking-gosquared.jade

    script
      | var githubLink = document.getElementsByClassName('js-github'),
      |     phoneLink = document.getElementsByClassName('js-phone'),
      |     emailLink = document.getElementsByClassName('js-email');
      | githubLink[0].addEventListener('click', function() { _gs('event', 'Opened Github profile') });
      | phoneLink[0].addEventListener('click', function() { _gs('event', 'Called me') });
      | emailLink[0].addEventListener('click', function() { _gs('event', 'Emailed me') });
