//
// Grid
// Sets up grid layout on the HTML element.
// -----------------------------------------------------------------------------

@import "gridGutter";
@import "gridPadding";
@import "gridMaxWidth";

@mixin grid($padding: true) {
  @include grid-max-width;
  @include grid-gutter;
  align-items: start;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
  width: 100%;

  @if $padding {
    @include grid-padding;
  }

  @media print {
    display: flex;
    flex-direction: column;
  }
}
