//
// Grid Padding
// Sets the padding of a grid, increasing size for larger screens
// Gutter paddings can be changed globally in variables in
// `scss/abstracts/variables/_grid.scss`
// Usage: @include grid-padding()
// -----------------------------------------------------------------------------

@mixin grid-padding() {
  padding: $grid-v-padding * 0.5 $grid-h-padding * 0.5;

  @include respond-above(md) {
    padding: $grid-v-padding * 2 $grid-h-padding * 2;
  }

  @media print {
    padding: 0;
  }
}
