//
// Hyperlinks
// -----------------------------------------------------------------------------

@mixin hyperlink() {
  text-decoration: none;

  &:link,
  &:visited {
    color: setColor(neutral, black);
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:hover {
    //color: set-color(brand, accent);
    outline: none; // [TODO] - Make better outline that looks good in all contexts
  }

  // &:visited {
  //   color: darken(set-color(skill, basic), 30%)
  // }
}
