//
// Hyperlinks
// -----------------------------------------------------------------------------

@mixin hyperlink() {
  text-decoration: none;

  &:link,
  &:visited {
    color: setColor(primary, cyan);
  }

  &:active,
  &:focus,
  &:hover {
    color: set-color(primary, blue);
    outline: none; // [TODO] - Make better outline that looks good in all contexts
  }

  // &:visited {
  //   color: darken(set-color(skill, basic), 30%)
  // }
}
