//
// Lists
// 1. We want to use our own generated, stylable content for bullets
// -----------------------------------------------------------------------------

@mixin list() {
  list-style-type: none; // 1
  margin-top: 0;
  padding-left: 0;
  margin-bottom: rem(8);

  li {
    color: setColor(neutral, gray-20);
    font-size: rem(17);
    line-height: 1.35;
    margin: 0 0 rem(8) 0;
    padding-left: rem(16);
    position: relative;

    &:before {
      background-color: setColor(neutral, gray-20);
      content: "";
      display: inline-block;
      height: rem(5);
      left: 0;
      position: absolute;
      top: rem(8);
      width: rem(5);
    }
  }
}
