//
// Paragraphs
// -----------------------------------------------------------------------------

@mixin paragraph() {
  color: setColor(neutral, gray-20);
  font-size: rem(17);
  line-height: 1.35;
  margin: 0 0 rem(16);
}
