<nav class="nav-contact">
  <ul class="group-horizontal">
    <li><a class="icon-email" href="mailto:rich.cookson@gmail.com">rich.cookson@gmail.com</a></li>
    <li><a class="icon-telephone" href="tel:447792871698">+44 7792 871 698</a></li>
    <li><a class="icon-github" rel="external" href="https://github.com/hellorich">github/hellorich</a></li>
    <li style="display:none"><a class="icon-twitter" rel="external" href="#"></a></li>
  </ul>
</nav>
