<nav class="nav-contact">
  <ul class="group-horizontal">
    <li><a class="icon-github" rel="external" href="https://github.com/hellorich">github/hellorich</a></li>
    <li><a class="icon-twitter" rel="external" href="#">twitter/hellorich</a></li>
    <li><a class="icon-email" href="#">rich.cookson@gmail.com</a></li>
    <li><a class="icon-telephone" href="#">07792 871 698</a></li>
  </ul>
</nav>
