//
// Button
// -----------------------------------------------------------------------------

.button {
  align-items: center;
  background-color: setColor(primary, cyan);
  border-radius: rem(8);
  color: setColor(neutral, white);
  display: inline-flex;
  font-size: rem(17);
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  min-width: rem(80);
  padding: rem(12);
  text-align: center;
  text-decoration: none;

  // [Todo] - We shouldn't use functions like darken as it introduces random colors
  // Change this when we set up a final color palette
  &:hover {
    background-color: setColor(secondary, redOrange);
  }

  @media print {
    font-size: rem(14);
    padding: rem(6) rem(8);
  }
}

.text {
  padding-left: rem(8);
}
