//
// Article: Header
// ---------------------------------------------------------------------------------

.article-header {
	margin-bottom: su(1);

	@media print  {
		margin-bottom: su(0.5);
	}

	.article-heading {
		margin-bottom: su(0.5);
	}

	.article-metadata {
		@include media($bp-medium) {
			@include group-horizontal();

			.duration {
				margin-left: su(1);
			}
		}

    @media print  {
      @include group-horizontal();

			.duration {
				margin-left: su(1);
			}
    }
	}
}
