//
// Nav: Contact
// ---------------------------------------------------------------------------------

.nav-contact {
  ul {
    margin-left: em(-8);
  }

  li  {
    display: inline-block;
  }

  a {
    padding: em(8) em(8) em(8) em(36);
  }
}
