/* ==========================================================================
   Address
   ========================================================================== */

  .address {
    font-style:normal;
    b {
      font-weight:700;
      margin-right:rem(10);
    }
    li {
      display:block;
      margin-right:rem(15);

      /* Breakpoints */

        @include media($large) {
          display:inline-block;
        }

      /* Print */
    
        @media print {
          display:block;
          margin-right:0;
        }
    }
  }
