/* ==========================================================================
   Address
   ========================================================================== */

  .address {
    font-style:normal;
    span {
      font-weight:700;
      margin-right:rem(10);
    }
    li {
      display:inline-block;
      margin-right:rem(15);
    }
  }
