/* ==========================================================================
   Banner
   ========================================================================== */

  #banner {
    h2 {
      margin-bottom:rem(5);
      margin-top:rem(-10);

      /* Print */
    
        @media print {
          margin-bottom:rem(5);
          margin-top:rem(-5);
        }
    }
  }