/* ==========================================================================
   Section
   ========================================================================== */

  .section {
    div {
      margin-top:rem(15);
    }
    article {
      margin-bottom:rem(30);
      &:last-child {
        margin-bottom:0;
      }
    }
  }