<!DOCTYPE html>
<html lang="en">

{{> global/head }}

<body>

  <div class="page">

    {{> content/header }}

    {{> content/introduction }}

    {{> content/nav-contact }}

    <main class="main" role="main">

      {{> content/section-skills }}

      {{> content/section-career }}

      {{> content/section-about }}

      {{> global/top }}

    </main>

  </div>

{{> global/foot }}
